
 {% load static %}
 <!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}    Survey Portal  {% endblock %}</title>
    <link rel="shortcut icon" href="{%  static 'survey/images/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'survey/css/bootstrap.min.css' %}" />
    <link href="{% static 'plugins/sweetalert.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'survey/css/base.css' %}" />

    {% block stylesheet %}  
    {% endblock %}
</style>
</head>
<body>
<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button data-target="#header-menu" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="header-menu">
          <a href="/" title='Logout' class="logout-btn btn btn-default navbar-btn navbar-right">  Logout   </a>         
          <a href="/" title="Sign in" class="signin-btn btn btn-default navbar-btn navbar-right">Sign in</a>           
          <a href="/signup/" title="Sign up" class="signup-btn btn btn-primary navbar-btn navbar-right" style="margin-right:5px;">
              Sign up </a>
      </div>     
    </div>   
  </nav>
</header> 
<div id='content'> 
 
  <script src="{% static 'survey/js/jquery.min.js' %}"></script>
  <script src="{% static 'survey/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'survey/js/logout.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/0.5.0/sweet-alert.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/0.5.0/sweet-alert.css"/>

  {% block content %} {% endblock %} 
</div>


<script>
let token = localStorage.access_token
if (token){
$('.signup-btn').css('display' , 'none');      
$('.signin-btn').css('display' , 'none');      
$('.logout-btn').css('display' , 'inline');
}
else{
$('.signup-btn').css('display' , 'inline');      
$('.signin-btn').css('display' , 'inline');      
$('.logout-btn').css('display' , 'none'); 
}      
</script>
    {% block javascript %} {% endblock %}
<nav class="footer navbar-fixed-bottom navbar-default">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 legal">
                <br>
                <center> <span>© 2017 Survey Portal</span> </center>
                <br>
            </div>
        </div>
    </div>
</nav>
</body>
</html>