ul {
    border : 1px solid black;
  }


  li {  
    width : 80px;
    display: inline-block;

  }

  #showdata, #nodata {
    display : none;
  }

  #datewarn, #all_form_invalid   {
    color : red;
  }

.form-control {
    display: block;
    width: 220%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#table-head {
    font-size: 18px;
    font-style: oblique;
    font-weight: 900;
    font-synthesis: weight style;
    /*font-variant: inherit;*/

}
